# Update these with your Supabase details from your project settings > API
DATABASE_URL=postgresql://postgres.pooberbmpsbafpbgoron:Und3ri0@th1225@aws-0-us-east-1.pooler.supabase.com:6543/postgres
NEXT_PUBLIC_SUPABASE_URL=https://pooberbmpsbafpbgoron.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvb2JlcmJtcHNiYWZwYmdvcm9uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg1NzIyOTQsImV4cCI6MjA0NDE0ODI5NH0.Lnt2Kb3B4mO3ggb92dU9_WMIgPcxHXKird-WFgGD4GA