@tailwind base;
@tailwind components;
@tailwind utilities;

/* Write your own custom component styles here */
.btn-black {
  @apply border border-black bg-black text-white font-bold py-2 px-4 rounded text-center;
}

.btn-black:hover {
  @apply transition duration-150 bg-white text-black;
}

.btn-black-outline {
  @apply border border-black text-black py-2 px-4 rounded font-bold text-center;
}

.btn-black-outline:hover {
  @apply transition duration-150 bg-black text-white;
}

.btn-slate {
  @apply border border-slate-900 bg-slate-900 text-white font-bold py-2 px-4 rounded text-center;
}

.btn-reverse-slate {
  @apply border border-slate-900 bg-slate-100 text-slate-900 font-bold py-2 px-4 rounded text-center;
}

html,
body,
#__next {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  /* Ensure no overflow on the body */
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  display: block;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.main-content {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.content {
  padding: 20px;
  overflow-y: auto;
}

.side-navbar {
  width: 250px;
  height: 100%;
  background-color: #1a202c;
  /* Tailwind's bg-gray-900 */
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  /* Ensure no overflow on the side navbar */
}

.side-navbar ul {
  list-style-type: none;
  padding: 0;
}

.side-navbar li {
  margin: 0;
}

.side-navbar .btn-black {
  @apply bg-slate-100 text-slate-900 font-bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.side-navbar .btn-black:hover {
  background-color: #333;
}